@model InvoiceDemo.Models.Company

@{
    ViewData["Title"] = "Create";
}

<h1>Create Company</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="Name" class="lableInput control-label col-3"></label>
                <input asp-for="Name" class="form-control col-5" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="NameAr" class="lableInput control-label col-3"></label>
                <input asp-for="NameAr" class="form-control col-5" />
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="BuildingNo" class="lableInput control-label col-3"></label>
                <input asp-for="BuildingNo" class="form-control col-5" />
                <span asp-validation-for="BuildingNo" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="Street" class="lableInput control-label col-3"></label>
                <input asp-for="Street" class="form-control col-5" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="StreetAr" class="lableInput control-label col-3"></label>
                <input asp-for="StreetAr" class="form-control col-5" />
                <span asp-validation-for="StreetAr" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="City" class="lableInput control-label col-3"></label>
                <input asp-for="City" class="form-control col-5" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="CityAr" class="lableInput control-label col-3"></label>
                <input asp-for="CityAr" class="form-control col-5" />
                <span asp-validation-for="CityAr" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="Country" class="lableInput control-label col-3"></label>
                <input asp-for="Country" class="form-control col-5" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="CountryAr" class="lableInput control-label col-3"></label>
                <input asp-for="CountryAr" class="form-control col-5" />
                <span asp-validation-for="CountryAr" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="Number" class="lableInput control-label col-3"></label>
                <input type="number" asp-for="Number" class="form-control col-5" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="RegistrationNumber" class="lableInput control-label col-3"></label>
                <input type="number" asp-for="RegistrationNumber" class="form-control col-5" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="Type" class="lableInput control-label col-3"></label>
                <input type="text" asp-for="Type" class="form-control col-5" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="d-flex flxe-row m-2">
                <label asp-for="TaxActivityCode" class="lableInput control-label col-3"></label>
                <input type="number" asp-for="TaxActivityCode" class="form-control col-5" />
                <span asp-validation-for="TaxActivityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a  asp-action="Index" class="btn btn-applogica-secondary m-2">Back</a>
                <input type="submit" value="Create" class="btn btn-applogica m-2" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
